<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-paciente-heading" data-cy="PacienteCreateUpdateHeading" jhiTranslate="parcial2Sw2MApp.paciente.home.createOrEditLabel">
        Crear o editar Paciente
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="parcial2Sw2MApp.paciente.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nroHistoriaClinicaRef = editForm.get('nroHistoriaClinica')!;
        <div class="mb-3">
          <label class="form-label" for="field_nroHistoriaClinica" jhiTranslate="parcial2Sw2MApp.paciente.nroHistoriaClinica"
            >Nro Historia Clinica</label
          >
          <input
            type="text"
            class="form-control"
            name="nroHistoriaClinica"
            id="field_nroHistoriaClinica"
            data-cy="nroHistoriaClinica"
            formControlName="nroHistoriaClinica"
          />
          @if (nroHistoriaClinicaRef.invalid && (nroHistoriaClinicaRef.dirty || nroHistoriaClinicaRef.touched)) {
            <div>
              @if (editForm.get('nroHistoriaClinica')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaNacimiento" jhiTranslate="parcial2Sw2MApp.paciente.fechaNacimiento"
            >Fecha Nacimiento</label
          >
          <div class="input-group">
            <input
              id="field_fechaNacimiento"
              data-cy="fechaNacimiento"
              type="text"
              class="form-control"
              name="fechaNacimiento"
              ngbDatepicker
              #fechaNacimientoDp="ngbDatepicker"
              formControlName="fechaNacimiento"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_direccion" jhiTranslate="parcial2Sw2MApp.paciente.direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="parcial2Sw2MApp.paciente.telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="parcial2Sw2MApp.paciente.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
