<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cita-heading" data-cy="CitaCreateUpdateHeading" jhiTranslate="parcial2Sw2MApp.cita.home.createOrEditLabel">
        Crear o editar Cita
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="parcial2Sw2MApp.cita.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let fechaHoraRef = editForm.get('fechaHora')!;
        <div class="mb-3">
          <label class="form-label" for="field_fechaHora" jhiTranslate="parcial2Sw2MApp.cita.fechaHora">Fecha Hora</label>
          <div class="d-flex">
            <input
              id="field_fechaHora"
              data-cy="fechaHora"
              type="datetime-local"
              class="form-control"
              name="fechaHora"
              formControlName="fechaHora"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (fechaHoraRef.invalid && (fechaHoraRef.dirty || fechaHoraRef.touched)) {
            <div>
              @if (editForm.get('fechaHora')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fechaHora')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        @let estadoRef = editForm.get('estado')!;
        <div class="mb-3">
          <label class="form-label" for="field_estado" jhiTranslate="parcial2Sw2MApp.cita.estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'parcial2Sw2MApp.EstadoCita.null' | translate }}</option>
            @for (estadoCita of estadoCitaValues; track $index) {
              <option [value]="estadoCita">{{ 'parcial2Sw2MApp.EstadoCita.' + estadoCita | translate }}</option>
            }
          </select>
          @if (estadoRef.invalid && (estadoRef.dirty || estadoRef.touched)) {
            <div>
              @if (editForm.get('estado')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_confirmada" jhiTranslate="parcial2Sw2MApp.cita.confirmada">Confirmada</label>
          <input
            type="checkbox"
            class="form-check"
            name="confirmada"
            id="field_confirmada"
            data-cy="confirmada"
            formControlName="confirmada"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paciente" jhiTranslate="parcial2Sw2MApp.cita.paciente">Paciente</label>
          <select
            class="form-control"
            id="field_paciente"
            data-cy="paciente"
            name="paciente"
            formControlName="paciente"
            [compareWith]="comparePaciente"
          >
            <option [ngValue]="null"></option>
            @for (pacienteOption of pacientesSharedCollection; track $index) {
              <option [ngValue]="pacienteOption">{{ pacienteOption.nroHistoriaClinica }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_medico" jhiTranslate="parcial2Sw2MApp.cita.medico">Medico</label>
          <select
            class="form-control"
            id="field_medico"
            data-cy="medico"
            name="medico"
            formControlName="medico"
            [compareWith]="compareMedico"
          >
            <option [ngValue]="null"></option>
            @for (medicoOption of medicosSharedCollection; track $index) {
              <option [ngValue]="medicoOption">{{ medicoOption.matricula }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_horario" jhiTranslate="parcial2Sw2MApp.cita.horario">Horario</label>
          <select
            class="form-control"
            id="field_horario"
            data-cy="horario"
            name="horario"
            formControlName="horario"
            [compareWith]="compareHorarioAtencion"
          >
            <option [ngValue]="null"></option>
            @for (horarioAtencionOption of horarioAtencionsSharedCollection; track $index) {
              <option [ngValue]="horarioAtencionOption">{{ horarioAtencionOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
