<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reporte-heading" data-cy="ReporteCreateUpdateHeading" jhiTranslate="parcial2Sw2MApp.reporte.home.createOrEditLabel">
        Crear o editar Reporte
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="parcial2Sw2MApp.reporte.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let tipoRef = editForm.get('tipo')!;
        <div class="mb-3">
          <label class="form-label" for="field_tipo" jhiTranslate="parcial2Sw2MApp.reporte.tipo">Tipo</label>
          <input type="text" class="form-control" name="tipo" id="field_tipo" data-cy="tipo" formControlName="tipo" />
          @if (tipoRef.invalid && (tipoRef.dirty || tipoRef.touched)) {
            <div>
              @if (editForm.get('tipo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let fechaGeneracionRef = editForm.get('fechaGeneracion')!;
        <div class="mb-3">
          <label class="form-label" for="field_fechaGeneracion" jhiTranslate="parcial2Sw2MApp.reporte.fechaGeneracion"
            >Fecha Generacion</label
          >
          <div class="d-flex">
            <input
              id="field_fechaGeneracion"
              data-cy="fechaGeneracion"
              type="datetime-local"
              class="form-control"
              name="fechaGeneracion"
              formControlName="fechaGeneracion"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (fechaGeneracionRef.invalid && (fechaGeneracionRef.dirty || fechaGeneracionRef.touched)) {
            <div>
              @if (editForm.get('fechaGeneracion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fechaGeneracion')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        @let rutaArchivoRef = editForm.get('rutaArchivo')!;
        <div class="mb-3">
          <label class="form-label" for="field_rutaArchivo" jhiTranslate="parcial2Sw2MApp.reporte.rutaArchivo">Ruta Archivo</label>
          <input
            type="text"
            class="form-control"
            name="rutaArchivo"
            id="field_rutaArchivo"
            data-cy="rutaArchivo"
            formControlName="rutaArchivo"
          />
          @if (rutaArchivoRef.invalid && (rutaArchivoRef.dirty || rutaArchivoRef.touched)) {
            <div>
              @if (editForm.get('rutaArchivo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
